.memeform__container{
  width: 90%;

  max-width: 500px;
  margin: auto;
}
.memeform__button{
  background-color: rgb(121, 121, 241) !important;
  outline: none;
  border:none !important;
  margin: 0;
  padding: 5px;
}

@media screen and (max-width:575px){
  .memeform__button{
    margin: 0%;
  }
}